.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination:focus {
  content: url("../public/active-bullet.svg");
  margin: 2px;
}

.pagination {
  content: url("../public/bullet.svg");
  margin: 2px;
}

.name{
  /* background-color: blue !important; */
  width: 200px;
}

.age{
  /* background-color: yellow !important; */
  width: 50px;
}

.email{
  /* background-color: pink !important; */
  width: 220px;
}

.role{
  /* background-color: violet !important; */
  width: 110px;
}

.date{
  /* background-color: green !important; */
  width: 110px;
}

.status{
  /* background-color: grey !important; */
  width: 100px;
}

.edit{
  /* background-color: white !important; */
  width: 70px;
}

.match{
  /* background-color: black !important; */
  width: 70px;
  margin-top: 30px;
}





.nameTitle{

  /* background-color: blue !important; */
  width: 200px;
}

.ageTitle{
  /* background-color: yellow !important; */
  width: 50px;
}

.emailTitle{
  /* background-color: pink !important; */
  width: 220px;
}

.roleTitle{
  /* background-color: violet !important; */
  width: 110px;
}

.dateTitle{
  /* background-color: green !important; */
  width: 110px;
}

.statusTitle{
  /* background-color: grey !important; */
  width: 100px;
}

.editTitle{
  /* background-color: white !important; */
  width: 70px;
}

.matchTitle{
  /* background-color: black !important; */
  width: 70px;

}



/*modal*/

.modal{
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.75);
  display:none;
  justify-content: center;
  align-items: center;

}


.modal.is-open{
  display: flex;
}

.modal-container{
position:relative;
padding: 1rem;
min-width: 320px;
max-width: 480px;
min-height: 200px;
max-height: 600px;
overflow-y: auto;
background-color: #fff;
border-radius: 25px;
}

.modal-close{
  position: absolute;
  top:1rem;
  right: 1rem;

}